#input-container {
    /* display: flex;
    flex-direction: column; */
}

#input-container img {
    width: 30%;
    display: block;
}

#response-container {
    display: hidden;
}

.hidden {
    display: none;
}
